*,
p,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background: #1f1f1f;
  font-family: Georgia, sans-serif;
  font-weight: 400;
}
a:hover {
  text-decoration: none;
}
@media all and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
}
@media all and (max-width: 767px) {
  .container .row {
    margin: 0;
  }
}
.header {
  border-top: 5px solid #81b300;
  background-color: #fff;
}
.b-headerMain {
  padding: 0 30px;
}
.b-headerMain::after {
  content: '';
  display: block;
  clear: both;
}
@media all and (max-width: 767px) {
  .b-headerMain_size_sm {
    padding: 0 10px;
  }
}
.b-headerMainTitle {
  text-align: left;
  font-weight: 400;
}
.b-headerMainTitle_left {
  margin: 35px 0;
  float: left;
}
@media all and (max-width: 575px) {
  .b-headerMainTitle_size_sm {
    margin: 20px 0;
    float: none;
    text-align: center;
  }
}
.b-headerMainTitle__link {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 46px;
  line-height: 34px;
  transition: .3s;
  font-variant: small-caps;
}
@media all and (max-width: 767px) {
  .b-headerMainTitle__link {
    font-size: 32px;
    line-height: 24px;
    transition: 0s;
  }
}
.b-headerMainTitle__link:hover {
  color: #81b300;
}
.b-headerMainTitle__link:active {
  color: #333;
  transform: scale(0.95);
  transition: 0s;
}
.b-headerMainTitle__txt {
  display: block;
  text-transform: capitalize;
  color: #999;
  font-size: 12px;
  line-height: 13px;
  margin-top: 15px;
}
.b-headerMainLinks {
  width: 250px;
}
.b-headerMainLinks_right {
  float: right;
}
@media all and (max-width: 575px) {
  .b-headerMainLinks_size_sm {
    width: 100%;
    margin: 0 auto;
    float: none;
    text-align: center;
  }
}
.b-headerMainSocial {
  background-color: #81b300;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 9px 12px;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media all and (max-width: 575px) {
  .b-headerMainSocial_size_sm {
    padding: 0;
    border-radius: 20px;
    background-color: #fff;
  }
}
.b-headerMainSocial__item {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 8px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 16px;
  background-color: #000;
  transition: .2s;
}
@media all and (max-width: 575px) {
  .b-headerMainSocial__item_size_sm {
    width: 50px;
    height: 50px;
    padding: 13px;
    font-size: 24px;
    line-height: 24px;
    flex-shrink: 0;
  }
  .b-headerMainSocial__item_size_sm.fa-linkedin {
    background-color: #00e;
    color: #fff;
  }
  .b-headerMainSocial__item_size_sm.fa-twitter {
    background-color: #00acee;
    color: #fff;
  }
  .b-headerMainSocial__item_size_sm.fa-pinterest {
    background-color: #b00;
    color: #fff;
  }
  .b-headerMainSocial__item_size_sm.fa-google-plus {
    background-color: #f00;
    color: #fff;
  }
  .b-headerMainSocial__item_size_sm.fa-rss {
    background-color: #e50;
    color: #fff;
  }
}
.b-headerMainSocial__item.fa-linkedin:hover {
  background-color: #00e;
  color: #fff;
}
.b-headerMainSocial__item.fa-twitter:hover {
  background-color: #00acee;
  color: #fff;
}
.b-headerMainSocial__item.fa-pinterest:hover {
  background-color: #b00;
  color: #fff;
}
.b-headerMainSocial__item.fa-google-plus:hover {
  background-color: #f00;
  color: #fff;
}
.b-headerMainSocial__item.fa-rss:hover {
  background-color: #e50;
  color: #fff;
}
.b-headerMainSocial__item:active {
  transform: scale(0.9);
  transition: 0s;
}
.b-headerMainAuthorization {
  color: #81b300;
  text-align: right;
}
.b-headerMainAuthorization_middle {
  line-height: 87px;
}
@media all and (max-width: 575px) {
  .b-headerMainAuthorization_size_sm {
    text-align: center;
    line-height: 50px;
  }
}
.b-headerMainAuthorization__item {
  text-decoration: none;
  color: #81b300;
  font-size: 12px;
  text-transform: capitalize;
}
.b-headerMainAuthorization__item:hover {
  text-decoration: underline;
  color: #81b300;
}
.b-headerMenu {
  padding: 20px 30px;
  background-color: #81b300;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.b-headerMenuNav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
@media all and (max-width: 575px) {
  .b-headerMenuNav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media all and (max-width: 400px) {
  .b-headerMenuNav {
    grid-template-columns: repeat(2, 1fr);
  }
}
.b-headerMenuNav__item {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  line-height: 30px;
  text-align: left;
}
.b-headerMenuNav__item:hover {
  color: #000;
}
@media all and (max-width: 575px) {
  .b-headerMenuNav__item {
    line-height: 50px;
    text-align: center;
  }
}
.b-headerMenuSearch {
  display: flex;
  padding: 0;
  line-height: 30px;
}
@media all and (max-width: 991px) {
  .b-headerMenuSearch_size_md {
    margin-top: 20px;
  }
}
.b-headerMenuSearch__findTxt,
.b-headerMenuSearch__findBtn {
  border: 0;
  margin: 0;
  outline: none;
  background-color: #fff;
}
.b-headerMenuSearch__findTxt {
  padding: 0 10px;
  width: 100%;
}
.b-headerMenuSearch__findTxt::placeholder {
  color: #7f7f7f;
  font-size: 12px;
  text-align: left;
  text-transform: capitalize;
}
.b-headerMenuSearch__findBtn {
  padding: 0 5px;
  color: #81b300;
  font-size: 12px;
  text-align: center;
  transition: .3s;
}
.b-headerMenuSearch__findBtn:hover {
  color: #fff;
  background-color: #81b300;
  outline: 1px solid #fff;
}
.b-headerMenuSearch__findBtn:active {
  color: #81b300;
  background-color: #fff;
  transition: 0s;
  outline: none;
}
.main {
  background-color: #fff;
}
.b-preview {
  padding: 30px;
  background-color: #f2f2f2;
}
@media all and (min-width: 992px) {
  .b-preview {
    padding: 30px 50px;
  }
}
@media all and (max-width: 575px) {
  .b-preview {
    padding: 30px 0;
  }
}
.b-preview__title {
  display: none;
}
.b-previewImage {
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}
@media all and (max-width: 575px) {
  .b-previewImage {
    border: none;
  }
}
.b-previewImage__item {
  display: block;
  border: 9px solid #fff;
  height: 360px;
  background: #333;
}
@media all and (min-width: 1200px) {
  .b-previewImage__item {
    height: 540px;
  }
}
@media all and (max-width: 575px) {
  .b-previewImage__item {
    border: none;
  }
}
.b-previewNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 156px;
}
.b-previewNav_center {
  margin: 22px auto 0;
}
.b-previewNav__item {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #333;
  border-radius: 50%;
}
.b-previewNav__item:first-child {
  width: 20px;
  height: 20px;
  background-image: url(../img/leftArrow.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.b-previewNav__item:first-child:hover {
  transform: scale(1.2);
}
.b-previewNav__item:last-child {
  width: 20px;
  height: 20px;
  background-image: url(../img/rightArrow.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.b-previewNav__item:last-child:hover {
  transform: scale(1.2);
}
.b-previewNav__item:hover {
  transform: scale(1.3);
}
.b-previewNav__item_active {
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #333;
}
.b-service {
  padding: 50px 30px;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 991px) {
  .b-service {
    padding: 30px;
  }
}
@media all and (max-width: 575px) {
  .b-service {
    padding: 20px 10px;
  }
}
.b-service__title {
  display: none;
}
.b-serviceItem {
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 991px) {
  .b-serviceItem {
    height: auto;
    min-height: 200px;
  }
}
@media all and (max-width: 575px) {
  .b-serviceItem:nth-child(n+3) {
    margin-top: 20px;
  }
}
@media all and (min-width: 576px) and (max-width: 991px) {
  .b-serviceItem:nth-child(n+4) {
    margin-top: 30px;
  }
}
.b-serviceItem__image {
  display: block;
  width: 66px;
  height: 71px;
}
.b-serviceItem__name {
  color: #81b300;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
}
.b-serviceItem__txt {
  color: #888888;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}
hr {
  margin: 0;
}
.b-work {
  padding: 50px 30px;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 991px) {
  .b-work {
    padding: 30px;
  }
}
.b-work__title {
  display: none;
}
.b-workItem {
  height: 330px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media all and (max-width: 991px) {
  .b-workItem {
    height: auto;
    min-height: 300px;
  }
}
@media all and (max-width: 575px) {
  .b-workItem:nth-child(n+3) {
    margin-top: 20px;
  }
}
@media all and (min-width: 576px) and (max-width: 991px) {
  .b-workItem:nth-child(n+4) {
    margin-top: 30px;
  }
}
.b-workItem__name {
  color: #444;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
}
@media all and (max-width: 991px) {
  .b-workItem__name {
    text-align: center;
    font-size: 20px;
  }
}
.b-workItem__txt {
  color: #878787;
  font-size: 13px;
  line-height: 19.6px;
  text-align: left;
}
.b-workItem__details {
  display: block;
  color: #81b300;
  font-size: 13px;
  line-height: 13px;
  text-align: right;
  text-decoration: none;
}
.b-workItem__details:hover {
  text-decoration: underline;
  color: #81b300;
}
.b-workItemImage {
  max-width: 210px;
  border: 1px solid #e6e6e6;
}
.b-workItemImage__item {
  display: block;
  border: 4px solid #fff;
  height: 130px;
  background: #333;
}
@media all and (max-width: 991px) {
  .b-workItemImage {
    width: 210px;
    margin: 0 auto;
  }
}
.footer {
  background-color: #3b3b3b;
  border-bottom: 30px solid #1f1f1f;
}
@media all and (max-width: 575px) {
  .footer {
    border-bottom: none;
  }
}
.b-footerMain {
  padding: 50px 30px;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 991px) {
  .b-footerMain {
    padding: 30px;
  }
}
.b-footerMain__title {
  display: none;
}
.b-footerMainContact,
.b-footerMainLink,
.b-footerMainBlog,
.b-footerMainForm {
  width: 210px;
}
@media all and (max-width: 575px) {
  .b-footerMainContact:nth-child(n+3),
  .b-footerMainLink:nth-child(n+3),
  .b-footerMainBlog:nth-child(n+3),
  .b-footerMainForm:nth-child(n+3) {
    margin-top: 20px;
  }
}
@media all and (min-width: 576px) and (max-width: 991px) {
  .b-footerMainContact:nth-child(n+4),
  .b-footerMainLink:nth-child(n+4),
  .b-footerMainBlog:nth-child(n+4),
  .b-footerMainForm:nth-child(n+4) {
    margin-top: 30px;
  }
}
.b-footerMainContact__title,
.b-footerMainLink__title,
.b-footerMainBlog__title,
.b-footerMainForm__title {
  color: #666;
  font-size: 13px;
  line-height: 10px;
  text-align: left;
  text-transform: uppercase;
}
.b-footerMainContact__title_top,
.b-footerMainLink__title_top,
.b-footerMainBlog__title_top,
.b-footerMainForm__title_top {
  margin-bottom: 30px;
}
@media all and (max-width: 991px) {
  .b-footerMainContact__title_top,
  .b-footerMainLink__title_top,
  .b-footerMainBlog__title_top,
  .b-footerMainForm__title_top {
    margin-bottom: 15px;
  }
}
.b-footerMainContact__txt {
  color: #999;
  font-size: 13px;
  line-height: 20.8px;
  text-align: left;
  margin-bottom: 20px;
}
.b-footerMainContact__phone,
.b-footerMainContact__fax,
.b-footerMainContact__email {
  display: block;
  color: #999;
  font-size: 12px;
  line-height: 19.2px;
  text-align: left;
  text-decoration: none;
}
.b-footerMainContact__phone:hover,
.b-footerMainContact__fax:hover,
.b-footerMainContact__email:hover {
  color: #fff;
}
.b-footerMainLink__item {
  display: block;
  text-decoration: none;
  color: #999;
  font-size: 12px;
  line-height: 25px;
  text-align: left;
  border-bottom: 1px solid #484848;
}
.b-footerMainLink__item:hover {
  color: #fff;
}
.b-footerMainBlog__name {
  color: #999;
  font-size: 13px;
  line-height: 14px;
  text-align: left;
  margin-bottom: 7px;
}
.b-footerMainBlog__author {
  color: #999;
  font-size: 11px;
  line-height: 11px;
  text-align: left;
  margin-bottom: 11px;
}
.b-footerMainBlog__txt {
  color: #999;
  font-size: 12px;
  line-height: 17px;
  text-align: left;
  margin-bottom: 7px;
}
.b-footerMainBlog__more {
  display: block;
  color: #81b300;
  font-size: 12px;
  line-height: 10px;
  text-align: right;
}
.b-footerMainBlog__more:hover {
  color: #fff;
}
.b-footerMainForm__txt,
.b-footerMainForm__email,
.b-footerMainForm__btn {
  display: block;
  height: 31px;
  outline: none;
  border: 0 solid transparent;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #1f1f1f;
}
.b-footerMainForm__txt,
.b-footerMainForm__email {
  width: 100%;
  margin-bottom: 10px;
  color: #fff;
}
@media all and (max-width: 575px) {
  .b-footerMainForm__txt,
  .b-footerMainForm__email {
    margin-bottom: 20px;
  }
}
.b-footerMainForm__txt::placeholder,
.b-footerMainForm__email::placeholder {
  color: #999;
  font-size: 13px;
  line-height: 31px;
  text-align: left;
}
.b-footerMainForm__txt:hover::placeholder,
.b-footerMainForm__email:hover::placeholder {
  color: #fff;
}
.b-footerMainForm__txt:focus,
.b-footerMainForm__email:focus {
  background-color: #81b300;
}
.b-footerMainForm__txt:focus::placeholder,
.b-footerMainForm__email:focus::placeholder {
  color: #fff;
}
.b-footerMainForm__btn {
  color: #81b300;
  font-size: 13px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
}
.b-footerMainForm__btn:hover {
  color: #fff;
}
.b-footerMainForm__btn:active {
  color: #999;
}
@media all and (max-width: 575px) {
  .b-footerMainForm__btn {
    margin: 0 auto;
  }
}
.b-footerInfo {
  background-color: #2e2e2e;
  padding: 0 30px;
}
.b-footerInfo__title {
  display: none;
}
.b-footerInfo__copyright {
  color: #737373;
  font-size: 12px;
  line-height: 60px;
}
.b-footerInfo__copyright_left {
  text-align: left;
  float: left;
}
@media all and (max-width: 575px) {
  .b-footerInfo__copyright_size_xs {
    float: none;
    text-align: center;
    line-height: 30px;
  }
}
.b-footerInfo__madein {
  color: #737373;
  font-size: 12px;
  line-height: 60px;
}
.b-footerInfo__madein_right {
  text-align: right;
  float: right;
}
@media all and (max-width: 575px) {
  .b-footerInfo__madein_size_xs {
    float: none;
    text-align: center;
    line-height: 30px;
  }
}
.b-footerInfo::after {
  content: '';
  display: block;
  clear: both;
}
